{% extends 'layouts/base.twig' %}

{% block title %}NatalCode{% endblock %}

{% block content %}
  <main class="nc-main nc-container nc-home-flow">
    {% include 'home/hero.twig' %}
    {% include 'home/features.twig' %}
    {% include 'home/social-proof.twig' %}
    {% include 'home/roadmap.twig' %}
    {% include 'home/faq.twig' %}
    {% include 'home/final-cta.twig' %}
  </main>
{% endblock %}
