<li class="nc-check-item" data-aos="fade-right" data-aos-delay="{{ delay|default(110) }}">
  <span class="nc-check-icon">{{ step }}</span>
  <div class="nc-check-content">
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>
  </div>
</li>
