<details class="nc-faq-item" data-aos="fade-up" data-aos-delay="{{ delay|default(120) }}">
  <summary class="nc-faq-question">{{ question }}</summary>
  <p class="nc-faq-answer">{{ answer }}</p>
</details>
